body {
  background-image: url(../images/jeopardybackground1.jpg);
  background-color: #060ce9;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

main {
  display: flex;
  height: 100vh;
}

#gameboard {
  display: flex;
  margin-left: 0;
  width: 250vh;
  justify-content: space-between;
}

.board {
  /* background-image: url(../images/blank-board.png); */
  background-color: #9cbad1, transparent;
  background-size: cover;
  display: flex;
  width: 118vh;
  height: 88 vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  border-radius: 15px;
  border-style: groove;
  border-color: silver;
  border-width: 7px;
  font-size: 0;
  margin-top: 40px;
}

.category {
  background-color: #d5d6e0;
  width: 105px;
  height: 65px;
  border: 1px solid silver;
  border-radius: 15px;
  border-style: groove;
  border-color: silver;
  border-width: 7px;
  font-family: copperplate;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.6;
}

.question {
  color: white;
  font-size: 50px;
  font-family: copperplate;
  text-align: center;
  font-weight: bolder;
  width: 105px;
  height: 70px;
  border: 1px solid;
  border-radius: 15px;
  border-style: groove;
  border-color: silver;
  border-width: 7px;
  background-color: #060ce9;
}

.stats {
  background: #d5d6e0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15%;
  width: 80vh;
  height: 30vh;
  border: 1px solid;
  border-style: groove;
  border-color: silver;
  margin-top: 140px;
  margin-left: 20px;
  border-width: 7px;
  padding: 15px;
}

#score {
  color: #820d5c;
  font-weight: bold;
}
