* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/jeopardybackground1.jpg);
  background-color: #060ce9;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

main {
  height: 90vh;
}

#gameboard {
  display: flex;
  margin-left: 0;
  width: 200vh;
  height: 90vh;
}

.board {
  /* background-image: url(../images/blank-board.png); */
  background-color: #9cbad1, transparent;
  background-size: cover;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: 1fr 5fr;
  width: 108vh;
  height: 80vh;

  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  border-radius: 15px;
  border-style: groove;
  border-width: 7px;
  font-size: 0;
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 20px;
}

.category {
  background-color: #d5d6e0;
  width: 115px;
  height: 80px;
  border: 7px solid silver;
  border-radius: 15px;
  border-style: groove;
  font-family: copperplate;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.6;
}

.question {
  color: white;
  font-size: 50px;
  font-family: copperplate;
  text-align: center;
  font-weight: bolder;
  width: 115px;
  height: 80px;
  border: 7px solid silver;
  border-radius: 15px;
  border-style: groove;
  background-color: #060ce9;
}

.stats {
  background: #d5d6e0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15%;
  width: 80vh;
  height: 40vh;
  border: 7px solid silver;
  border-style: groove;
  margin-top: 140px;
  padding: 15px;
}

#score {
  color: #820d5c;
  font-weight: bolder;
}

p {
  font-weight: bolder;
}
