body {
  background-image: url(../images/jeopardybackground1.jpg);
  background-color: #060ce9;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  height: 100vh;
}

#gameboard {
  display: flex;
  /* margin-top: 100px; */
  margin-left: 0;
  width: 250vh;
  justify-content: space-between;
}

.board {
  background-image: url(../images/blank-board.png);
  background-size: cover;
  display: flex;
  width: 130vh;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.category {
  background-color: white;
  width: 120px;
  height: 60px;
  border: 1px solid silver;
  border-radius: 15px;
  border-style: groove;
  border-color: silver;
  border-width: 7px;
}

.question {
  width: 120px;
  height: 90px;
  border: 1px solid;
  border-radius: 15px;
  border-style: groove;
  border-color: silver;
  border-width: 7px;
}

.stats {
  border: 1px solid;
  border-style: groove;
  border-color: silver;
  margin-top: 140px;
  height: 50vh;
  background-color: white;
  border-width: 7px;
  width: 60vh;
  height: 40vh;
  /* opacity: ; */
}
