body {
  background-image: url(../images/background.jpg);
  background-color: #060ce9;
}

#title {
  display: block;
  margin-left: 290px;
  margin-right: auto;
  width: 50%;
}

.button {
  background-color: #d17344;
  border-radius: 100px;
  box-shadow: white 0 -25px 18px -14px inset, white, white 0 2px 4px,
    white 0 4px 8px, white 0 8px 16px, white 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: #9b0b50 0 -25px 18px -14px inset, #9b0b50 0 1px 2px,
    #9b0b50 0 2px 4px, #9b0b50 0 4px 8px, #9b0b50 0 8px 16px,
    #9b0b50 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#selectors {
  text-align: center;
}
